---
- name: 'apt packages'
  ansible.builtin.apt:
    update_cache: true
    upgrade: safe
    autoremove: true
  become: true

- name: 'pipx packages'
  community.general.pipx:
    state: upgrade_all

# TEST 1
# TEST 2
# TEST 3
# TEST 4
# 5
# 6
